<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Treatment Name</th>
      <th>Who</th>
      <th>When</th>
      <th>Price</th>
      <th class="text-right">Purchase Price</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Completed</th>
      <th>Cancelled</th>
      <th>No Show</th>
    </tr>
    <tr *ngFor="let booking of bookings">
      <td>
        {{booking.service}}
      </td>
      <td>
        {{booking.clientName}}
      </td>
      <td>
        {{booking.date}} at {{booking.time}}
      </td>
      <td class="text-right">
        {{booking.price}}
      </td>
      <td>
        {{booking.contactPhone}}
      </td>
      <td>
        {{booking.contactEmail}}
      </td>
      <td>
        {{booking.done}}
      </td>
      <td>
        {{booking.cancelled}}
      </td>
      <td>
        {{booking.noShow}}
      </td>
    </tr>
  </table>
</div>